@mixin icon-before($font-size: 16px, $unicode: "\f121" ) {
	span {
		color: transparent;
		font: 0/0 a;
		text-shadow: none;
	}
	&:before {
		@include rem('font-size', $font-size);
		content: $unicode;
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		text-decoration: inherit;
		text-indent: 0;
		 -webkit-font-smoothing: antialiased;
		speak: none;
		*margin-right: .3em; // fixes ie7 issues
	}
}

//------------------------------------------------
// Custom Styles and Overrides
//------------------------------------------------

// html {
// }
body {
	background: $body-bg;
	// @include background-image(url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjRkZGRUZDIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNmZmZiZjQiPjwvcmVjdD4KPC9zdmc+"));
	// background-repeat: repeat;
}
// Type
//--------------------------------

body, p {
	// @include rem('font-size', 20px);
	@include rem('font-size', 18px);
}

$multiplier: .50;
// Headings
h1 {
	font-size: (57rem * .10) * $multiplier;
}
h2 {
	font-size: (49rem * .10) * $multiplier;
}
h3 {
	font-size: (37rem * .10) * $multiplier;
}
h4 {
	font-size: (27rem * .10) * $multiplier;
}
h5 {
	font-size: (25rem * .10) * $multiplier;
}
h6 {
	font-size: (22rem * .10) * $multiplier;
}


@media #{$small} {
	// Headings - tablets and up
	h1 {
		@include rem('font-size', 57px);
	}
	h2 {
		@include rem('font-size', 49px);
	}
	h3 {
		@include rem('font-size', 37px);
	}
	h4 {
		@include rem('font-size', 27px);
	}
	h5 {
		@include rem('font-size', 25px);
	}
	h6 {
		@include rem('font-size', 22px);
	}
}
.home [role=document] {
	h1 {
		&.page-title {
			color: $primary-color;
			border: none;
			line-height: 120%;
			+ hr {
				display: none;
			}
		}

	}
}
[role=document] {
	h1 {
		color: $header-font-color;
		line-height: 120%;
		&.page-title {
			@include rem('margin', 10px 0 15px);
			@include rem('padding-bottom', 15px);
			border-bottom: 2px solid #222;
			color: #222;
			display: inline-block;
			@include rem('font-size', 30px);
			line-height: 1;
			+ hr {
				border-color: #222;
				border-width: 5px 0 0;
				@include rem('margin', -27px 0 25px);
			}
		}
	}
	h2 {
		@include rem('padding-bottom', 13px);
		border-bottom: 2px solid #222;
		display: inline-block;
		+ hr {
			border-color: #222;
			border-width: 5px 0 0;
			margin-top: -22px;
		}
	}
	ul, ol {
		margin-left: 30px;
	}
}

h3 {
	color: #444;
}
@media #{$small} {
	.home [role=document] {
		h1 {
			color: $primary-color;
			border: none;
			line-height: 120%;
			+ hr {
				display: none;
				@include rem('margin', -27px 0 50px);
			}
		}
	}
	[role=document] {
		h1 {
			&.page-title {
				@include rem('font-size', 57px);
			}
		}
		h2 {
			+ hr {
				margin-top: -34px;

			}
		}
		.content-columns {
			-moz-column-count: 2;
	        -moz-column-gap: 30px;
	        -webkit-column-count: 2;
	        -webkit-column-gap: 30px;
	        column-count: 2;
			column-gap: 30px;
		}
	}
}

// Misc
//--------------------------------

.wf-loading {
	h1, h2, h3, h4, h5, h6, p, a {
		visibility: hidden;
		// @include transition-property(visibility);
		// @include transition-duration(500ms);
		// @include transition-timing-function(ease-in)
	}
}
.wf-active {
	h1, h2, h3, h4, h5, h6, p, a {
		visibility: visible;
	}
}
#wpstats {
	visibility: hidden;
}
span.slash {
	letter-spacing: -5px;
	margin: 0 10px 0 5px;
}

.row,
.content.row,
.contain-to-grid .top-bar {
	@include rem('max-width', 1700px);
}

body.logged-in header.banner {
	.fixed {
		padding-top: 28px;
	}
}
@media only screen and (max-width: emCalc(768px)) {
	.home {
		.content.row .large-8 {
			width: 100%
		}
	}
}

// Reusable Styles
//--------------------------------
input[type="button"], input.button {
	border: none;
}
.btn, input[type="button"], input.button {
	@include btn-structure($color: $body-bg);
}

.btn-alt {
	@include btn-structure($color: $body-bg, $shadow-color: $primary-color);
}
.button-group {
	@include rem('margin', 30px 0);
	.btn {
		+ .btn {
			margin-left: 10px;
		}
	}
}
@media only screen and (max-width: emCalc(767px)) {
	.btn {
		font-size: 1.4rem;
	}
	.btn-alt {
		font-size: 1.4rem;
	}
}

.has-tip, span.tooltip {
	font-weight: normal;
}

::-moz-selection {  background: darken($primary-color, 5); color: $body-bg; }
::selection      {  background: darken($primary-color, 5); color: $body-bg; }


// Home Page Specific

.home .row .large-8 {
	width: percentage(10/12);
}

@media only screen and (min-width: emCalc(1268px)) {
	.home .row .large-8 {
		width: percentage(8/12);
	}
}

// Main
//--------------------------------

#crumbs {
	@include rem('padding', 25px 0 0);
	@include rem('font-size', 16px);
}

.content.row, .main.row {
	padding: 30px 0 40px;
}

[role=document] {
	// background-color: $body-bg;
}
[role=main] article h1 {
	margin-top: 1em;
}



// Footer
//--------------------------------

footer.content-info {
	color: #bbb;
	font-family: $header-font-family;
	font-weight: 200;
	text-transform: uppercase;
	background-color: #333;
	@include background-image(url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzMzMyI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjA5Ij48L3JlY3Q+Cjwvc3ZnPg=="));
	background-repeat: repeat;
	&.fixed-footer {
	    left: 0;
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    z-index: 99;
	}
	p {
		@include rem('margin', 15px 0);
		@include rem('font-size', 14px);
	}
}


// Resume
//--------------------------------

.resume {
	.columns {
		max-width: 418px;
		&:last-child {
			float: none;
		}
	}
	h1.hentry-title {
		text-indent: -999em;
		height: 0;
		margin: 0;
	}
	h2 {
		@include rem('font-size', 28px);
		@include rem('margin', 10px 0 15px);
		@include rem('padding-bottom', 15px);
		+ hr {
			@include rem('margin', -27px 0 28px);
		}
	}
	h2, h3 {
		color: $body-font-color;
	}
	h3 {
		@include rem('font-size', 22px);
		margin-bottom: 10px;
	}
	h4 {
		color: $primary-color;
		font-weight: 200;
		@include rem('font-size', 16px);
		margin-bottom: 2px;
		span {
			font-size: 93%;
			color: lighten($primary-color, 10);
		}
	}
	p.accomplishments, .intro p {
		font-size: 90%;
	}
	p.date-range {
		margin-bottom: 12px;
	}
	p.date-range, p.grad-info {
		font-style: italic;
		font-size: 80%;
		color: lighten($body-font-color, 15);
	}
	.intro {
		img {
			vertical-align: middle;
		}
		.intro-content {
			@include rem('padding', 15px);
			background-color: $primary-color;
			p {
				margin-bottom: 0;
				span {
					display: block;
					color: lighten($primary-color, 20);
					font-style: italic;
					line-height: 1;
				}
				&:first-child {
					margin-bottom: 25px;
				}
				&:nth-child(2) {
					margin-bottom: 10px;
				}
			}
			p, a {
				color: $body-bg;
			}
		}

	}
	.intro, .skills {
		margin-bottom: 30px;
	}
	.experience-item {
		margin-bottom: 25px;
	}
	.education-item {
		h3 {
			color: $primary-color;
			margin-bottom: 5px;
			@include rem('font-size', 18px);
		}
		p {
			margin-bottom: 25px;
		}
	}
	.skill-item {
		max-width: 280px;
		@include rem('padding', 0 0 0 5px);
		background-color: $primary-color;
		color: $body-bg;
		margin-bottom: 2px;
		height: 24px;
		line-height: 24px;
		@include clearfix();
		h3 {
			color: $body-bg;
			font-weight: 200;
			text-transform: uppercase;
			@include rem('font-size', 16px);
			display: inline-block;
			margin: 0;
		}
		> span {
			float:right;
			@include clearfix();
			span {
				display: inline-block;
				height: 24px;
				width: 24px;
				text-indent: -999em;
			}
			&.quatro {
				span {
					background-color: lighten($primary-color, 5);
				}
			}
			&.tres {
				span {
					background-color: lighten($primary-color, 5);
					&:last-child {
						background-color: lighten($primary-color, 10);
					}
				}
			}
			&.dos {
				span {
					background-color: lighten($primary-color, 10);
					&:first-child {
						background-color: lighten($primary-color, 5);
					}
					&:last-child {
						background-color: lighten($primary-color, 15);
					}
				}
			}
			&.uno {
				span {
					background-color: lighten($primary-color, 10);
					&:first-child {
						background-color: lighten($primary-color, 5);
					}
					&:nth-child(3) {
						background-color: lighten($primary-color, 15);
					}
					&:last-child {
						background-color: lighten($primary-color, 20);
					}
				}
			}
		}
	}
}

@media #{$small} {
	.resume {
		h2 {
			@include rem('font-size', 42px);
			+ hr {
				clear: none;
			}
		}
		h3 {
			@include rem('font-size', 30px);
			margin-bottom: 0;
		}
		h4 {
			@include rem('font-size', 24px);
			margin-top: 3px;
		}
		p.accomplishments, .intro p {
			font-size: 100%;
		}
		p.date-range {
			margin-top: 10px;
		}
		p.date-range, p.grad-info {
			font-size: 98%;
		}
		.columns {
			max-width: 100%;
		}
		.intro, .skills {
			float: right;
			clear: right;
			> .intro-content, > h2 + hr {
				max-width: 300px;
			}
			img {
				max-width: 100%;
			}
		}
		.experience, .education {
			float: left;
			clear: left;
		}
		.experience-item, .education-item {
			position: relative;
		}
		.education-item h3 {
			@include rem('font-size', 28px);
		}
	}
}
@media only screen and (min-width: emCalc(768px)) and (max-width: emCalc(806px)) {
	.resume {
		p.accomplishments, .intro p {
			font-size: 96%;
		}
		p.date-range, p.grad-info {
			font-size: 85%;
		}
	}
}
@media only screen and (min-width: emCalc(1035px)) {
	.resume {
		h4 {
			margin-bottom: 10px;
		}
		.intro {
			img {max-width: 300px;}
		}
		p.date-range, p.grad-info {
			position: absolute;
			right: 0;
		}
		p.date-range {
			top: 1px;
		}
		p.grad-info {
			top: 8px;
		}
		.experience-item, .education-item {
			margin-bottom: 30px;
		}
		.skill-item {
			max-width: 300px;
			height: 30px;
			line-height: 31px;
			@include rem('padding', 0 0 0 8px);
			h3 {
				@include rem('font-size', 18px);
			}
			> span {
				span {
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}
@media only screen and (min-width: emCalc(1200px)) {
	.resume {
		position: relative;
		min-height: 1300px;
		.large-8 {
			max-width: 780px;
		}
		.large-4 {
			&.intro {
				position: absolute;
				left: 780px;
			}
			&.skills {
				top: 630px;
				float: left;
			}
		}
	}
}
